<div mat-dialog-title>
    <h1>Matricula</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput type="text" placeholder="Ex. Maria" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Sobrenome</mat-label>
                <input matInput placeholder="Ex. Vieira" formControlName="lastName">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-label><b>Gênero</b></mat-label>
                <mat-radio-button value="male">Masculino</mat-radio-button>
                <mat-radio-button value="female">Feminino</mat-radio-button>
                <mat-radio-button value="others">Outros</mat-radio-button>
            </mat-radio-group>
        </div>
<div></div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Escolaridade</mat-label>
                <mat-select formControlName="education">
                    <mat-option *ngFor="let val of education" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>atividade</mat-label>
                <input matInput placeholder="Ex. rosca direita" formControlName="musculação">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="Ex. 123.456.789-10" formControlName="cpf">
            </mat-form-field>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Cep</mat-label>
                    <input matInput placeholder="Ex. 23.066.380" formControlName="cep">
                </mat-form-field>
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Telefone</mat-label>
                        <input matInput placeholder="Ex. 21 96525-6578" formControlName="telefone">
                    </mat-form-field>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Experiência de treino </mat-label>
                <input matInput placeholder="Ex. 4" type="number" formControlName="experience">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>plano</mat-label>
                <input matInput placeholder="Ex. 12" type="number" formControlName="package">
                <mat-hint>R$ - Real</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>